<div class="container col-6">
  <div class="row">
    <button class="btn btn-secondary mt-3" routerLink="/owners">Back</button>
  </div>


  <div class="justify-content-center mt-5">
    <form [formGroup]="ownerForm" (ngSubmit)="save()">

      <label for="firstNameForm">First Name:</label>
      <input type="text" class="form-control" id="firstNameForm" formControlName="firstName">

      <label class="mt-2" for="lastNameForm">Last Name:</label>
      <input type="text" class="form-control" id="lastNameForm" formControlName="lastName">

      <button type="submit" class="btn btn-primary btn-block mt-2">Save</button>
    </form>

  </div>
</div>
