<nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top">
  <a class="navbar-brand"><img
    src="https://png2.kisspng.com/sh/42d1a0aa637b19f2edcf77a0892181d9/L0KzQYm3WMA4N6FnfpH0aYP2gLBuTgdpcaRwfeR8LXfyfLXsjr1paZ54jNd7LXPvecG0ggJ1NaN0fNd3dD24coeCWMVkOmNoT9duNz66Q4G5UcUxOWI6S6UBNEK0R4m4WMI0NqFzf3==/kisspng-whiskers-golden-hamster-clip-art-rodent-5b6985c22c7ee7.7302150115336421781823.png"
    width="30" height="30" alt="Petshop"></a>
  <button class="navbar-toggler collapsed" type="button" (click)="toggleCollapse()" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse" [class.collapse]="isCollapsed" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/owners">Owners</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pets">Pets</a>
      </li>
    </ul>
  </div>
</nav>
